.title {


}
.line{

  text-decoration: line-through;
}


.work {
float: left;
text-align: left;
}
.name {
text-align: center;
font-family: sans-serif;
font-weight: lighter;

}
.nav {
  display: flex;
  justify-content: center;

  background-color: #333333;
}
ul {
  display: flex;
  flex-flow: row wrap;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
li a {
  display: grid;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-bottom: none;

}
li a:hover {
  background-color: #111111
}

.about {


}
.phrase {
  border-radius: 20px;
  text-transform: full-width;
  display: flex;
  justify-content: center;
  border-style: groove;
text-align: center;

}
img {
    max-width: 100%;
    max-height: 100%;

}
figcaption{
  text-align: center;
  justify-content: center;

}
figure{
  
}

.card {

  height: 200px;
  width: 250px;
  box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
display: flex;
}
.top {
      height: 55%;
      border-radius: 4px 4px 0px 0px;
      border: 1px solid #ddd;
      padding: 0px 16px;
    }

.about {


}
